<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>React Home</title>

  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <!-- Don't use this in production: -->
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>

<h2>Home</h2>

<hr>
<h3>Oysters</h3>

<div id="root"></div>
<script type="text/babel">
    
    const oysters = <%- oysters %>;
    console.log(oysters)

    const Oysters = (props) => {
        // props is an array
        console.log(props)
        const listOysters = props.data.map((oyster) =>
        <li key={oyster.name} id={oyster.id}>
            <a data-id={oyster.id} data-name={oyster.name} href={`/detail?name=${oyster.name}`}>{oyster.name}</a>
        </li>);
        return <ul>{listOysters}</ul>
    }
    ReactDOM.render(
        <div><Oysters data={oysters}/></div>,
    document.getElementById('root')
    );
</script>
</body>
</html>